html,
body {
  background-color: #fdfcf5;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#physics {
  /* display: none; */
  position: fixed;
  top: 0;
  left: 0;
  /* width: 100vw; */
  /* height: 100vh; */
}

#webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
  /* display: none; */
}